<!DOCTYPE html>
<html>
  <head lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- link rel="stylesheet" type="text/css" href="css/bootstrap.css" -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Welcome to LetMeFix</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
	<h1>LetMeFix
	</h1>
      </div>
      <a class="btn btn-primary" href="/login" role="button">Login with Google</a>
    </div>
  </body>
</html>
