<!doctype html>
<html lang="en">

  <style>
   label.bold {
     font-weight: bold;
     font-size: 2vw;
   }
   .navbar {
     width: 100%;
     background-color: #555;
     overflow: auto;
   }

   /* Navbar links */
   .navbar a {
     float: left;
     text-align: center;
     padding: 0px;
     color: white;
     text-decoration: none;
     font-size: 17px;
   }

   /* Navbar links on mouse-over */
   .navbar a:hover {
     background-color: #000;
   }
  </style>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--link rel="stylesheet" type="text/css" href="css/bootstrap.css"-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Registar Cliente Comercial</title>

  </head>
  <!-- Name of the company -->
  <body>
    <div class="container">
      <div class="jumbotron">
	<h1>LetMeFix</h1>
      </div>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <div class="navbar">
	<a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
	<a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
	<a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
	<a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
      </div>

      <br>
      <label class="bold">Registo do Cliente Comercial</label>

      <form action="/commercial" method="get">
	
	<div class="form-group">
	  <label for="nome_Completo">Nome Completo</label><br>
	  <input Type="text" class="form-control" step="0.01" style="width: 200px;"id="nome_Completo" placeholder="Nome">
	</div>
	<div class="form-group">
	  <label for="nome_empresa">Nome Da Empresa</label><br>
	  <input Type="text" class="form-control" step="0.01" style="width: 200px;"id="nome_empresa" placeholder="Empresa">
	</div>
	<div class="form-group">
	  <label for="r_empresa">Ramo da empresa</label>
	  <input type="text" class="form-control" step="0.01" style="width: 200px;"id="r_empresa"  placeholder="Ramo">
	</div>
	<div class="form-group">
	  <label for="nif">NIF</label>
	  <input type="text" class="form-control" step="0.01" style="width: 200px;"id="nif"  placeholder="NIF">
	</div>

	<div class="form-group">
	  <label for="contacts">Contacto</label>
	  <input type="text" class="form-control" step="0.01" style="width: 200px;"id="contacts" placeholder="Nº Contacto">
	</div>
	<div class="form-group">
	  <label for="morada">Código Postal</label>
	  <input type="text" class="form-control" step="0.01" style="width: 350px;"id="zipcode" placeholder="zip code">
	</div>
	<div class="form-group">
	  <label for="morada">Morada</label>
	  <input type="text" class="form-control" step="0.01" style="width: 350px;"id="morada" placeholder="Morada">
	</div>

	<button type="submit" class="btn btn-primary">Criar Perfil</button>
      </form>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

