<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--link rel="stylesheet" type="text/css" href="css/bootstrap.css"-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Hello, world!</title>
  </head>
  <!-- Name of the company -->
  <body>
    <div class="container">
      <div class="jumbotron">
	<h1>LetMeFix
	</h1>
	</div>
      <form>
	  <h3> Private Client </h3>
		<div class="form-group">
			<label for="nome_completo">Nome Completo</label><br>
			<input Type="text" class="form-contol" id="nome_completo" placeholder="escrever nome">
		</div>

		<div class="form-group">
			<label for="nif">NIF</label>
			<input type="text" class="form-control" id="nif"  placeholder="">
		</div>
		<div class="form-group">
			<label for="contacts">Contacto</label>
			<input type="text" class="form-control" id="contacts" placeholder="nºtelemóvel">
		</div>
		<div class="form-group">
			<label for="morada">morada</label>
			<input type="text" class="form-control" id="morada" placeholder="">
		</div>


			<button type="submit" class="btn btn-primary">criar perfil</button>
</form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>