<!doctype html>
<html lang="en">

  <style>
   label.bold {
     font-weight: bold;
     font-size: 2vw;
   }
   .navbar {
     width: 100%;
     background-color: #555;
     overflow: auto;
   }

   /* Navbar links */
   .navbar a {
     float: left;
     text-align: center;
     padding: 0px;
     color: white;
     text-decoration: none;
     font-size: 17px;
   }

   /* Navbar links on mouse-over */
   .navbar a:hover {
     background-color: #000;
   }
  </style>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--link rel="stylesheet" type="text/css" href="css/bootstrap.css"-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Registar Profissional</title>

  </head>
  
  <body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <div class="navbar">
	<a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
	<a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
	<a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
	<a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
      </div>
      <br>
      <label class="bold">Registo Profissioal</label>
    <div class="container">
      <div class="jumbotron">

      <form>
		<div class="form-group">
			<label for="nome_empresa">Nome Da Empresa</label><br>
			<input Type="text" class="form-contol" id="nome_empresa" placeholder="nome da empresa">
		</div>
		<div class="form-group">
			<label for="área_profissional"> Área Professional</label><br>
			
			<select>
				<option value="">select</option>
				<option value="área de construção">construção civil</option>
				<option value="eletricidade">eletricidade</option>
				<option value="canalização">canalização</option>
				<option value="carpintaria">carpintaria</option>
			</select>
		</div>
		<div class="form-group">
			<label for="nif">NIF</label>
			<input type="text" class="form-control" id="nif"  placeholder="">
		</div>
		<div class="form-group">
			<label for="competencias">Competências</label><br>
			<textarea rows="4" cols="50" id="competencias">
			</textarea>
		</div>
		<div class="form-group">
			<label for="services">Serviços</label><br>
				<textarea rows="4" cols="50" id="services">
			</textarea>
    </div>
		<div class="form-group">
			<label for="precos">Preço</label>
			<input type="text" class="form-control" id="precos" placeholder="">
		</div>
		<div class="form-group">
			<label for="contacts">Contacto</label>
			<input type="text" class="form-control" id="contacts" placeholder="nºtelemóvel">
		</div>

			<button type="submit" class="btn btn-primary">criar perfil</button>
</form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

