<!doctype html>
<html lang="en">
  <style>
   select {
     width: 100%;
     padding: 16px 20px;
     border: none;
     border-radius: 5px;
     background-color: #f1f1f1;
   }
   label.bold {
     font-weight: bold;
     font-size: 2vw;
   }
  </style>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--link rel="stylesheet" type="text/css" href="css/bootstrap.css"-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Hello, world!</title>
  </head>
  <!-- Name of the company -->
  <body>
    <div class="container">
      <div class="jumbotron">
	<h1>LetMeFix
	</h1>
      </div>

      <label class="bold" for="areaProfissional"><b>Àrea Profissional:</b></label>

      <div>
	<h4>Cliente Privado</h4>
	<div>
	  informação do para o cliente privado
	  Mantilla é gay <3
	</div>
	<br>
	<a class="btn btn-primary" href="/clientePrivado" role="button">Criar Perfil</a>
      </div>

      <div>
	<h4>Cliente Comercial</h4>
	<div>
	  informação do para o cliente comercial
	</div>
	<br>
	<a class="btn btn-primary" href="/clienteComercial" role="button">Criar Perfil</a>	
      </div>

      <div>
	<h4>Profissional</h4>
	<div>
	  informação do para o profissional
	</div>
	<br>
	<a class="btn btn-primary" href="/profissional" role="button">Criar Perfil</a>
      </div>
	
    </div>
    <!-- Welcome Message -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
